<?xml version="1.0"?>
<model>
  <name>Artag Floor</name>
  <version>1.0</version>
  <sdf version='1.4'>artag_floor.sdf</sdf>
  <author>
    <name>Àngel Santamaria-Navarro</name>
    <email>asantamaria@iri.upc.edu</email>
  </author>
  <description>
    This is a model for the artag floor
  </description>
</model>